.one{
    font-family:sans-serif;
    color:darkcyan;
    background-color:ghostwhite;
    border: 3px black solid;
    padding:30px 60px;
    line-height: 200%;
}

.two{
    font-family:sans-serif;
    color:darkgoldenrod;
    background-color:lightgoldenrodyellow;
    border: 3px black solid;
    padding:30px 60px;
    line-height: 200%;
}

.three{
    font-family:sans-serif;
    color:white;
    background-color:darksalmon;
    border: 3px black solid;
    padding:30px 60px;
    line-height: 200%;
}